**/.ipynb_checkpoints/*
**/.pytest_cache/*
**/.vscode/*

**/__pycache__/*

**/*.egg-info/*

**/checkpoints/*.pt
**/data/*
**/out/*
**/ouptputs/*
**/wandb/*
**/references/*
**/outputs/*

**/*.log
**/checkpoint/*